<div class="document-container" fxLayout="row" fxLayoutAlign="space-between start">
  <div>
    <p class="document-source">{{ document.source | uppercase }}</p>
    <p class="document-title" (click)="onDocumentClicked()">{{ document.title }}</p>
    <p *ngIf="document.preview" class="document-prev-content">{{ document.preview }}</p>
    <p *ngIf="!document.preview" class="document-prev-content" style="width: 79vw"><i>No preview available.</i></p>
  </div>
  <div fxLayout="row">
    <i *ngIf="document.comments.length != 0" class="material-icons commentIcon" [matTooltip]="document.comments">comment</i>
    <i *ngIf="document.tags.length != 0" class="material-icons commentIcon" [matTooltip]="document.tags">category</i>
    <span *ngIf="document.comments.length == 0"></span>
    <span *ngIf="document.tags.length == 0"></span>
  </div>
</div>

<br>
<mat-divider></mat-divider>
<br>
