<div style="margin: 0; padding: 0;">

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="toolbar fixed-toolbar">
    <div fxLayout="row" fxLayoutAlign="start center">
      <i class="material-icons backIcon" (click)="closeDocViewer()">arrow_back</i>
      <p class="document-source">{{ data.document.source }}</p>
    </div>
  </mat-toolbar>

  <div class="document-content">

    <p class="document-title">{{ data.document.title }}</p>

    <p *ngIf="data.content" style="white-space: pre-wrap">{{ data.content }}</p>
    <p *ngIf="!data.content" style="white-space: pre-wrap"><i>No content available.</i></p>
  </div>

  <div class="bottom-right-fab">
    <button mat-fab color="accent" (click)="openAttributeEditor()">
      <i class="material-icons" fxLayoutAlign="center center" style="color: white">note_add</i>
    </button>
  </div>

</div>
